In [87]:
#Test中-----10/15-----ここはいいかかんじ

import os
import pandas as pd
import numpy as np

data_dir="/workdir/Num_3_predict/01_output/Challenge_5/"

Num_3_2018_2023=os.path.join(data_dir,"Num_3_2018_2023.csv")
Num_3_2018_2023=pd.read_csv(os.path.join(data_dir,"Num_3_2018_2023.csv"))
df = Num_3_2018_2023

last_row = df.shape[0] - 1#最終行番号
count=0
score=0
num=0
z=0
s=0 

#新しい列を作成
# df['y_count'] = np.nan

# #新しい列に値を代入
# def cnt(x):
#     return x.iloc[3]
# df['y_count'] =df.apply(cnt,axis=1)
# df



# 値の代入方法は分かったから内容を考えよう

#新しい列を作成
df['y_count'] = np.nan

X=df.iloc[:, 2] #全行の２列目
Y=df.iloc[:, 2] #2行目からで2列目
V=df.iloc[:, 1] #年
Z=df.iloc[:, -1] #全行の右端列

# df = df.[date].dt.year


#for i in range(0,1488): #スタートが0からで1つめ2つめ3つめ1つ値前まで　例(0,1280)なら1279まで、rows行番号でOK
# for k in range(0,last_row):
for k in range(0,999):    
#     X=df.iloc[:, 2] #全行の２列目
#     y=df.iloc[k, 2]
#     z=df.iloc[:,-1]
#     x=df.iloc[k, 1]
    
#     year = "2018"
#     num = X
#     n = str(k)
#     # if year in x:
#         # score += 1
#         # z = score
   
#     num = str(k)
    # x =X.iloc[k, :]
#     y =Y.iloc[:, :]
#     if X == x:
#         score += 1
# Z= score
    # print(num, z) 
    #print(z)#先に処理
    
# print(X)#後に処理
# print(Y)
# print(V)
# print(Z)
# df["y_count"]

# sum(df. X == 555)

# df=sum((df.Lottery_result == 753) & (df.date == 2020))
    df1=sum((df.Lottery_result == k) & (df.date == 2019))
# print(df)
    print(df1)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [88]:
import os
import pandas as pd
import numpy as np

data_dir="/workdir/Num_3_predict/01_output/Challenge_5/"

Num_3_2018_2023=os.path.join(data_dir,"Num_3_2018_2023.csv")
Num_3_2018_2023=pd.read_csv(os.path.join(data_dir,"Num_3_2018_2023.csv"))
df = Num_3_2018_2023
# Num_3_2018_2023['year']=Num_3_2018_2023['date'].dt.year
# Num_3_2018_2023['year'] = Num_3_2018_2023['date'].dt.year
df

,No,date,Lottery_result,hundreds_place,tens_place,ones_place,Next_result
0,1,2018-01-04,858,8,5,8,384
1,2,2018-01-05,384,3,8,4,976
2,3,2018-01-08,976,9,7,6,930
3,4,2018-01-09,930,9,3,0,634
4,5,2018-01-10,634,6,3,4,223
...,...,...,...,...,...,...,...
1508,219,2023-11-06,282,2,8,2,595
1509,220,2023-11-07,595,5,9,5,114
1510,221,2023-11-08,114,1,1,4,866
1511,222,2023-11-09,866,8,6,6,60
1512,223,2023-11-10,60,0,6,0,479

In [89]:
# 曜日と曜日の変数と年を取得
import pandas as pd
df['date']=pd.to_datetime(df['date'])

# df['day_name']=df['date'].dt.day_name() #曜日名
df['year']=df['date'].dt.year
df

,No,date,Lottery_result,hundreds_place,tens_place,ones_place,Next_result,year
0,1,2018-01-04,858,8,5,8,384,2018
1,2,2018-01-05,384,3,8,4,976,2018
2,3,2018-01-08,976,9,7,6,930,2018
3,4,2018-01-09,930,9,3,0,634,2018
4,5,2018-01-10,634,6,3,4,223,2018
...,...,...,...,...,...,...,...,...
1508,219,2023-11-06,282,2,8,2,595,2023
1509,220,2023-11-07,595,5,9,5,114,2023
1510,221,2023-11-08,114,1,1,4,866,2023
1511,222,2023-11-09,866,8,6,6,60,2023
1512,223,2023-11-10,60,0,6,0,479,2023

In [90]:
import os
import pandas as pd
import numpy as np

df['y_count'] = np.nan
df

,No,date,Lottery_result,hundreds_place,tens_place,ones_place,Next_result,year,y_count
0,1,2018-01-04,858,8,5,8,384,2018,NaN
1,2,2018-01-05,384,3,8,4,976,2018,NaN
2,3,2018-01-08,976,9,7,6,930,2018,NaN
3,4,2018-01-09,930,9,3,0,634,2018,NaN
4,5,2018-01-10,634,6,3,4,223,2018,NaN
...,...,...,...,...,...,...,...,...,...
1508,219,2023-11-06,282,2,8,2,595,2023,NaN
1509,220,2023-11-07,595,5,9,5,114,2023,NaN
1510,221,2023-11-08,114,1,1,4,866,2023,NaN
1511,222,2023-11-09,866,8,6,6,60,2023,NaN
1512,223,2023-11-10,60,0,6,0,479,2023,NaN

In [105]:
import os
import pandas as pd
import numpy as np

# data_dir="/workdir/Num_3_predict/01_output/Challenge_5/"

# Num_3_2018_2023=os.path.join(data_dir,"Num_3_2018_2023.csv")
# Num_3_2018_2023=pd.read_csv(os.path.join(data_dir,"Num_3_2018_2023.csv"))
# Num_3_2018_2023= pd.to_datetime(Num_3_2018_2023['date'])
# Num_3_2018_2023['year']=Num_3_2018_2023['date'].dt.year
# df = Num_3_2018_2023

# df['y_count'] = np.nan
# df

for k in range(0,999): 

    # Num_3_2018_2023=sum((Num_3_2018_2023.Lottery_result == k) & (Num_3_2018_2023.date == 2019))
    df_new=sum(df.Lottery_result == k) #0～999の数値が出現頻度です
# df_1=(df.Lottery_result == 60) & (df.year == 2023)
# df_2=(df.Lottery_result == 384) & (df.year == 2018) & (df.year == 2019)

    
    
# print(df)
    print(k,df_new)
# print(df_2)

0 2
1 1
2 3
3 1
4 0
5 1
6 2
7 2
8 2
9 5
10 2
11 1
12 3
13 1
14 1
15 0
16 2
17 2
18 2
19 2
20 2
21 0
22 1
23 1
24 2
25 1
26 2
27 0
28 1
29 1
30 4
31 1
32 3
33 3
34 1
35 2
36 0
37 1
38 0
39 0
40 4
41 1
42 2
43 2
44 1
45 2
46 5
47 4
48 2
49 2
50 2
51 2
52 2
53 3
54 2
55 3
56 0
57 0
58 0
59 1
60 5
61 1
62 0
63 2
64 1
65 1
66 0
67 0
68 3
69 4
70 0
71 1
72 1
73 1
74 1
75 2
76 1
77 2
78 2
79 3
80 2
81 1
82 0
83 1
84 0
85 0
86 0
87 2
88 2
89 3
90 1
91 1
92 2
93 1
94 2
95 0
96 1
97 4
98 3
99 1
100 1
101 1
102 0
103 1
104 0
105 1
106 1
107 0
108 3
109 3
110 1
111 0
112 3
113 2
114 3
115 2
116 0
117 2
118 7
119 2
120 0
121 0
122 1
123 4
124 1
125 2
126 1
127 0
128 1
129 2
130 3
131 3
132 2
133 2
134 3
135 0
136 3
137 2
138 3
139 2
140 1
141 0
142 1
143 0
144 2
145 2
146 1
147 0
148 2
149 1
150 1
151 1
152 1
153 3
154 1
155 0
156 0
157 0
158 1
159 1
160 2
161 1
162 4
163 2
164 1
165 0
166 1
167 2
168 2
169 4
170 1
171 1
172 0
173 1
174 1
175 2
176 2
177 0
178 4
179 1
180 1
181 0
182 3
183 1
184 1
185 1
186 0
187 1
188 2
189 0
190 0
191 1
192 0
193 4
194 2
195 2
196 3
197 2
198 0
199 1
200 0
201 2
202 2
203 2
204 2
205 1
206 1
207 2
208 3
209 2
210 2
211 0
212 0
213 0
214 1
215 0
216 1
217 2
218 1
219 1
220 2
221 2
222 1
223 3
224 1
225 0
226 5
227 1
228 0
229 3
230 0
231 0
232 3
233 2
234 3
235 1
236 2
237 1
238 0
239 1
240 6
241 1
242 2
243 2
244 1
245 3
246 3
247 2
248 0
249 1
250 1
251 1
252 2
253 0
254 1
255 0
256 1
257 1
258 2
259 0
260 1
261 1
262 1
263 0
264 1
265 3
266 0
267 1
268 1
269 1
270 1
271 3
272 2
273 2
274 2
275 4
276 1
277 2
278 3
279 0
280 2
281 4
282 4
283 2
284 0
285 1
286 2
287 2
288 0
289 0
290 0
291 2
292 2
293 1
294 1
295 1
296 0
297 2
298 1
299 1
300 2
301 0
302 2
303 0
304 2
305 2
306 0
307 0
308 1
309 2
310 2
311 0
312 1
313 2
314 2
315 0
316 1
317 3
318 1
319 2
320 2
321 2
322 4
323 1
324 0
325 4
326 1
327 1
328 0
329 2
330 2
331 0
332 1
333 0
334 0
335 2
336 0
337 2
338 1
339 4
340 1
341 0
342 2
343 2
344 0
345 2
346 1
347 3
348 3
349 3
350 4
351 1
352 2
353 3
354 0
355 4
356 0
357 3
358 2
359 1
360 0
361 2
362 0
363 3
364 1
365 4
366 2
367 1
368 2
369 2
370 2
371 1
372 5
373 2
374 1
375 0
376 2
377 4
378 3
379 1
380 0
381 1
382 1
383 2
384 1
385 1
386 2
387 1
388 1
389 1
390 0
391 3
392 1
393 2
394 4
395 0
396 0
397 2
398 3
399 1
400 2
401 0
402 1
403 0
404 0
405 1
406 1
407 0
408 1
409 1
410 0
411 2
412 1
413 4
414 2
415 5
416 0
417 0
418 1
419 1
420 0
421 1
422 1
423 1
424 3
425 0
426 2
427 1
428 2
429 1
430 4
431 2
432 6
433 2
434 0
435 0
436 2
437 1
438 1
439 1
440 1
441 0
442 1
443 2
444 1
445 4
446 1
447 1
448 3
449 2
450 0
451 2
452 2
453 1
454 0
455 1
456 0
457 1
458 3
459 1
460 2
461 5
462 1
463 2
464 2
465 2
466 0
467 0
468 3
469 1
470 1
471 0
472 3
473 1
474 1
475 4
476 1
477 2
478 0
479 1
480 2
481 2
482 2
483 1
484 4
485 4
486 3
487 1
488 2
489 4
490 0
491 3
492 1
493 2
494 1
495 2
496 1
497 2
498 1
499 1
500 0
501 0
502 3
503 2
504 1
505 2
506 0
507 3
508 0
509 4
510 1
511 1
512 0
513 1
514 4
515 1
516 3
517 1
518 1
519 1
520 2
521 0
522 2
523 0
524 0
525 0
526 2
527 2
528 1
529 5
530 1
531 1
532 0
533 1
534 1
535 1
536 1
537 1
538 0
539 0
540 1
541 0
542 0
543 1
544 2
545 1
546 3
547 2
548 1
549 3
550 2
551 1
552 1
553 2
554 1
555 2
556 2
557 3
558 1
559 1
560 1
561 0
562 0
563 0
564 0
565 2
566 3
567 1
568 0
569 0
570 2
571 3
572 0
573 0
574 3
575 0
576 2
577 3
578 0
579 1
580 2
581 0
582 0
583 2
584 1
585 0
586 1
587 0
588 1
589 4
590 2
591 2
592 1
593 0
594 1
595 4
596 3
597 3
598 0
599 1
600 3
601 2
602 2
603 2
604 1
605 1
606 3
607 2
608 2
609 1
610 1
611 3
612 2
613 3
614 1
615 1
616 1
617 0
618 0
619 1
620 1
621 1
622 2
623 1
624 1
625 2
626 3
627 0
628 1
629 1
630 3
631 2
632 0
633 2
634 1
635 6
636 1
637 5
638 1
639 0
640 3
641 4
642 4
643 1
644 3
645 1
646 1
647 2
648 1
649 1
650 3
651 0
652 1
653 1
654 2
655 2
656 1
657 1
658 1
659 3
660 2
661 2
662 1
663 2
664 0
665 1
666 0
667 0
668 1
669 3
670 0
671 2
672 2
673 0
674 2
675 2
676 0
677 1
678 0
679 1
680 4
681 2
682 1
683 2
684 6
685 1
686 0
687 2
688 2
689 2
690 0
691 1
692 2
693 1
694 2
695 2
696 2
697 2
698 2
699 2
700 1
701 0
702 2
703 0
704 4
705 4
706 0
707 1
708 1
709 1
710 0
711 1
712 2
713 1
714 2
715 3
716 5
717 0
718 1
719 1
720 3
721 1
722 1
723 1
724 1
725 1
726 0
727 2
728 1
729 2
730 0
731 3
732 0
733 3
734 2
735 2
736 3
737 1
738 2
739 4
740 2
741 0
742 2
743 0
744 2
745 3
746 5
747 1
748 2
749 0
750 2
751 2
752 1
753 3
754 2
755 3
756 0
757 1
758 3
759 3
760 2
761 1
762 3
763 4
764 4
765 2
766 2
767 1
768 1
769 0
770 0
771 2
772 0
773 1
774 1
775 2
776 3
777 1
778 1
779 1
780 1
781 2
782 2
783 0
784 0
785 3
786 1
787 0
788 1
789 0
790 2
791 1
792 0
793 1
794 0
795 1
796 1
797 1
798 1
799 3
800 4
801 1
802 3
803 2
804 3
805 1
806 0
807 1
808 2
809 3
810 0
811 1
812 0
813 0
814 2
815 1
816 0
817 0
818 2
819 0
820 1
821 0
822 1
823 1
824 1
825 1
826 1
827 1
828 2
829 1
830 1
831 5
832 0
833 0
834 0
835 0
836 1
837 1
838 1
839 3
840 3
841 2
842 1
843 3
844 3
845 0
846 2
847 1
848 2
849 2
850 1
851 1
852 0
853 0
854 0
855 1
856 4
857 2
858 3
859 2
860 2
861 0
862 3
863 2
864 0
865 1
866 1
867 1
868 0
869 1
870 2
871 3
872 0
873 1
874 1
875 0
876 5
877 3
878 2
879 2
880 1
881 2
882 3
883 0
884 1
885 1
886 0
887 2
888 3
889 1
890 3
891 0
892 3
893 2
894 0
895 1
896 0
897 0
898 1
899 1
900 2
901 2
902 2
903 0
904 0
905 2
906 2
907 2
908 1
909 4
910 2
911 1
912 3
913 0
914 1
915 0
916 2
917 2
918 1
919 0
920 3
921 3
922 3
923 1
924 0
925 2
926 0
927 1
928 4
929 1
930 5
931 4
932 1
933 2
934 2
935 2
936 3
937 3
938 1
939 1
940 2
941 3
942 3
943 3
944 1
945 1
946 2
947 2
948 3
949 2
950 3
951 5
952 0
953 4
954 0
955 2
956 2
957 1
958 4
959 2
960 2
961 1
962 3
963 2
964 0
965 0
966 0
967 2
968 1
969 1
970 1
971 2
972 0
973 1
974 1
975 2
976 1
977 1
978 1
979 2
980 1
981 2
982 0
983 2
984 3
985 3
986 2
987 2
988 4
989 3
990 0
991 3
992 1
993 2
994 1
995 3
996 2
997 1
998 3

In [106]:
#0 indexを0から振り直す
import pandas as pd
# df_new=pd.DataFrame(df_new)
df_new

3