In [4]:
#Test中-----10/15-----ここはいいかかんじ

import os
import pandas as pd
import numpy as np

data_dir="/workdir/Num_3_predict/01_output/Challenge_5/"

Num_3_2018_2022=os.path.join(data_dir,"Num_3_2018_2023.csv")
Num_3_2018_2022=pd.read_csv(os.path.join(data_dir,"Num_3_2018_2023.csv"))

df = Num_3_2018_2022

last_row = df.shape[0] - 1#最終行番号
count=0
score=1
num=0  

df['y_count'] = np.nan

def cnt(x):
    return x.iloc[3]
df['y_count'] =df.apply(cnt,axis=1)
df

# 値の代入方法は分かったから内容を考えよう




#for i in range(0,1488): #スタートが0からで1つめ2つめ3つめ1つ値前まで　例(0,1280)なら1279まで、rows行番号でOK
# for i in range(0,last_row):   #
    
#     y=df.loc[i, 'Lottery_result']

#     for j in range(1,last_row):
#         x=df.loc[j,'Lottery_result'] #予測する行番号-----#003で列数確認
#         # y_pred=model.predict([x])[0]
#         # y_pred=round(y_pred)
#         # y_pred
      

#     if y == x:
#         score += 1
    
        
#         # num = str(j)
#         num = j
#     if num != '':
#         count += 1

#     return df.loc[i: :]
#     # df['count'] = df.apply(xy,axis=1)
# print(df)      
    
    
# print('Total:', score, count)

# if count >= score:
#     print(f'Perfect_matching = {score}/{count} ({score/count *100:.1f}%)') 

# df=pd.DataFrame({'count':[score]}) 
# df

,No,date,Lottery_result,hundreds_place,tens_place,ones_place,Next_result,y_count
0,1,2018-01-04,858,8,5,8,384,8
1,2,2018-01-05,384,3,8,4,976,3
2,3,2018-01-08,976,9,7,6,930,9
3,4,2018-01-09,930,9,3,0,634,9
4,5,2018-01-10,634,6,3,4,223,6
...,...,...,...,...,...,...,...,...
1492,203,2023-10-13,549,5,4,9,149,5
1493,204,2023-10-16,149,1,4,9,844,1
1494,205,2023-10-17,844,8,4,4,373,8
1495,206,2023-10-18,373,3,7,3,985,3
1496,207,2023-10-19,985,9,8,5,480,9