In [80]:
#Test中-----10/15-----ここはいいかかんじ

import os
import pandas as pd
import numpy as np

data_dir="/workdir/Num_3_predict/01_output/Challenge_5/"

Num_3_2018_2023=os.path.join(data_dir,"Num_3_2018_2023.csv")
Num_3_2018_2023=pd.read_csv(os.path.join(data_dir,"Num_3_2018_2023.csv"))
df = Num_3_2018_2023

last_row = df.shape[0] - 1#最終行番号
count=0
score=0
num=0
z=0
s=0 

#新しい列を作成
# df['y_count'] = np.nan

# #新しい列に値を代入
# def cnt(x):
#     return x.iloc[3]
# df['y_count'] =df.apply(cnt,axis=1)
# df



# 値の代入方法は分かったから内容を考えよう

#新しい列を作成
df['y_count'] = np.nan

X=df.iloc[:, 2] #全行の２列目
Y=df.iloc[:, 2] #2行目からで2列目
V=df.iloc[:, 1] #年
Z=df.iloc[:, -1] #全行の右端列

# df = df.[date].dt.year


#for i in range(0,1488): #スタートが0からで1つめ2つめ3つめ1つ値前まで　例(0,1280)なら1279まで、rows行番号でOK
# for k in range(0,last_row):
for k in range(0,999):    
#     X=df.iloc[:, 2] #全行の２列目
#     y=df.iloc[k, 2]
#     z=df.iloc[:,-1]
#     x=df.iloc[k, 1]
    
#     year = "2018"
#     num = X
#     n = str(k)
#     # if year in x:
#         # score += 1
#         # z = score
   
#     num = str(k)
    # x =X.iloc[k, :]
#     y =Y.iloc[:, :]
#     if X == x:
#         score += 1
# Z= score
    # print(num, z) 
    #print(z)#先に処理
    
# print(X)#後に処理
# print(Y)
# print(V)
# print(Z)
# df["y_count"]

# sum(df. X == 555)

# df=sum((df.Lottery_result == 753) & (df.date == 2020))
    df1=sum((df.Lottery_result == k) & (df.date == 2019))
# print(df)
    print(df1)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [81]:
import os
import pandas as pd
import numpy as np

data_dir="/workdir/Num_3_predict/01_output/Challenge_5/"

Num_3_2018_2023=os.path.join(data_dir,"Num_3_2018_2023.csv")
Num_3_2018_2023=pd.read_csv(os.path.join(data_dir,"Num_3_2018_2023.csv"))
df = Num_3_2018_2023
# Num_3_2018_2023['year']=Num_3_2018_2023['date'].dt.year
# Num_3_2018_2023['year'] = Num_3_2018_2023['date'].dt.year
df

,No,date,Lottery_result,hundreds_place,tens_place,ones_place,Next_result
0,1,2018-01-04,858,8,5,8,384
1,2,2018-01-05,384,3,8,4,976
2,3,2018-01-08,976,9,7,6,930
3,4,2018-01-09,930,9,3,0,634
4,5,2018-01-10,634,6,3,4,223
...,...,...,...,...,...,...,...
1511,222,2023-11-09,866,8,6,6,60
1512,223,2023-11-10,60,0,6,0,566
1513,224,2023-11-13,566,5,6,6,208
1514,225,2023-11-14,208,2,0,8,802
1515,226,2023-11-15,802,8,0,2,480

In [82]:
# 曜日と曜日の変数と年を取得
import pandas as pd
df['date']=pd.to_datetime(df['date'])

# df['day_name']=df['date'].dt.day_name() #曜日名
df['year']=df['date'].dt.year
df

,No,date,Lottery_result,hundreds_place,tens_place,ones_place,Next_result,year
0,1,2018-01-04,858,8,5,8,384,2018
1,2,2018-01-05,384,3,8,4,976,2018
2,3,2018-01-08,976,9,7,6,930,2018
3,4,2018-01-09,930,9,3,0,634,2018
4,5,2018-01-10,634,6,3,4,223,2018
...,...,...,...,...,...,...,...,...
1511,222,2023-11-09,866,8,6,6,60,2023
1512,223,2023-11-10,60,0,6,0,566,2023
1513,224,2023-11-13,566,5,6,6,208,2023
1514,225,2023-11-14,208,2,0,8,802,2023
1515,226,2023-11-15,802,8,0,2,480,2023

In [83]:
#出現回数をカウントするライブラリー
import collections

list_num = df['Lottery_result']
# list_num
# df1=list_num.count(858)
# df1

df1=collections.Counter(list_num)
# df1
df2=df1.values()
df2
# list_num2=df1.values
# dict_1 = dict(list_num2)
# dict_1
# for num in set(list_num):
#     print(num,list_num.count(num))

dict_values([3, 1, 1, 5, 1, 3, 4, 2, 2, 1, 2, 2, 1, 1, 2, 4, 2, 5, 6, 1, 3, 2, 5, 2, 3, 3, 3, 2, 5, 3, 2, 1, 2, 3, 1, 2, 5, 4, 3, 1, 3, 2, 1, 2, 4, 3, 2, 2, 3, 2, 1, 2, 7, 3, 1, 2, 4, 2, 4, 4, 3, 6, 3, 2, 2, 3, 2, 2, 3, 3, 2, 2, 3, 1, 5, 1, 4, 2, 3, 1, 5, 4, 2, 1, 4, 1, 1, 4, 1, 1, 2, 3, 1, 2, 1, 1, 1, 1, 1, 2, 3, 1, 1, 3, 1, 2, 4, 4, 1, 2, 3, 3, 2, 1, 3, 1, 3, 2, 3, 4, 2, 1, 2, 1, 2, 1, 3, 2, 3, 2, 2, 2, 2, 1, 1, 2, 1, 1, 4, 1, 3, 1, 4, 1, 5, 2, 3, 4, 4, 2, 2, 3, 2, 2, 1, 1, 2, 2, 3, 3, 3, 3, 2, 3, 6, 2, 4, 4, 2, 2, 5, 3, 2, 6, 4, 4, 2, 3, 2, 2, 2, 1, 3, 3, 2, 1, 1, 1, 1, 3, 2, 1, 2, 2, 2, 2, 4, 1, 1, 1, 4, 3, 2, 1, 1, 2, 3, 5, 1, 3, 1, 2, 3, 3, 1, 3, 3, 1, 2, 1, 2, 3, 3, 2, 3, 2, 4, 2, 4, 1, 2, 5, 1, 2, 3, 2, 3, 2, 2, 2, 2, 3, 2, 3, 2, 1, 2, 2, 5, 2, 2, 2, 2, 4, 3, 1, 4, 2, 1, 3, 2, 3, 2, 2, 2, 2, 2, 2, 3, 3, 2, 4, 3, 1, 2, 2, 2, 2, 4, 2, 1, 1, 1, 5, 1, 2, 1, 3, 4, 2, 2, 2, 4, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 2, 2, 3, 1, 2, 5, 3, 4, 1, 1, 1, 4, 2, 3, 1, 2, 5, 2, 3, 2, 2, 2, 2, 2, 3, 1, 1, 2, 2, 1, 1, 2, 2, 2, 3, 2, 1, 1, 2, 2, 4, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 3, 3, 2, 1, 2, 2, 1, 1, 1, 2, 3, 3, 3, 2, 2, 1, 2, 3, 2, 1, 2, 2, 2, 2, 2, 3, 2, 3, 2, 1, 1, 2, 1, 2, 3, 1, 1, 4, 2, 1, 4, 1, 2, 1, 3, 2, 1, 4, 1, 1, 2, 1, 3, 2, 4, 3, 3, 2, 2, 1, 2, 1, 1, 2, 4, 1, 2, 1, 3, 4, 1, 2, 1, 1, 2, 2, 2, 4, 1, 3, 1, 2, 4, 2, 2, 1, 1, 1, 2, 1, 1, 3, 3, 3, 3, 1, 2, 1, 2, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 2, 2, 4, 2, 2, 1, 1, 3, 2, 1, 2, 2, 3, 2, 1, 2, 2, 2, 3, 3, 1, 1, 3, 2, 1, 3, 1, 2, 1, 3, 1, 1, 1, 4, 4, 1, 1, 3, 2, 1, 2, 1, 2, 3, 1, 2, 1, 2, 3, 2, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 3, 2, 1, 1, 2, 3, 3, 4, 1, 1, 1, 1, 1, 1, 4, 1, 4, 1, 1, 2, 2, 1, 2, 2, 3, 2, 2, 2, 1, 2, 1, 2, 3, 3, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 2, 3, 1, 1, 2, 1, 1, 1, 1, 2, 3, 3, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 4, 1, 3, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 2, 1, 3, 1, 1, 1, 2, 2, 2, 3, 1, 2, 1, 1, 1, 1, 2, 1, 4, 2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [96]:
#20231115_Reo_アドバイス
new_column = [df1[item] for item in df["Lottery_result"].tolist()]
df["counter"] = new_column

In [97]:
display(df.head())

,No,date,Lottery_result,hundreds_place,tens_place,ones_place,Next_result,year,y_count,counter
0,1,2018-01-04,858,8,5,8,384,2018,NaN,3
1,2,2018-01-05,384,3,8,4,976,2018,NaN,1
2,3,2018-01-08,976,9,7,6,930,2018,NaN,1
3,4,2018-01-09,930,9,3,0,634,2018,NaN,5
4,5,2018-01-10,634,6,3,4,223,2018,NaN,1

In [98]:
#列に並べる
# list_num = df['Lottery_result']
# list_num = df2
dict_1 = dict(list_num)
dict_1

{0: 858,
 1: 384,
 2: 976,
 3: 930,
 4: 634,
 5: 223,
 6: 413,
 7: 881,
 8: 368,
 9: 873,
 10: 916,
 11: 955,
 12: 122,
 13: 327,
 14: 92,
 15: 282,
 16: 956,
 17: 415,
 18: 432,
 19: 437,
 20: 546,
 21: 291,
 22: 461,
 23: 139,
 24: 138,
 25: 448,
 26: 936,
 27: 221,
 28: 876,
 29: 347,
 30: 631,
 31: 725,
 32: 949,
 33: 271,
 34: 545,
 35: 320,
 36: 60,
 37: 60,
 38: 350,
 39: 839,
 40: 382,
 41: 776,
 42: 411,
 43: 586,
 44: 45,
 45: 123,
 46: 720,
 47: 497,
 48: 243,
 49: 363,
 50: 236,
 51: 399,
 52: 217,
 53: 118,
 54: 486,
 55: 29,
 56: 900,
 57: 484,
 58: 905,
 59: 800,
 60: 339,
 61: 950,
 62: 684,
 63: 507,
 64: 750,
 65: 352,
 66: 516,
 67: 760,
 68: 16,
 69: 759,
 70: 196,
 71: 775,
 72: 118,
 73: 993,
 74: 984,
 75: 159,
 76: 955,
 77: 716,
 78: 936,
 79: 81,
 80: 355,
 81: 714,
 82: 2,
 83: 440,
 84: 372,
 85: 589,
 86: 119,
 87: 299,
 88: 909,
 89: 37,
 90: 402,
 91: 30,
 92: 604,
 93: 497,
 94: 909,
 95: 851,
 96: 934,
 97: 109,
 98: 531,
 99: 393,
 100: 496,
 101: 535,
 102: 513,
 103: 797,
 104: 648,
 105: 319,
 106: 669,
 107: 173,
 108: 269,
 109: 557,
 110: 653,
 111: 137,
 112: 413,
 113: 193,
 114: 642,
 115: 487,
 116: 765,
 117: 119,
 118: 182,
 119: 912,
 120: 18,
 121: 1,
 122: 549,
 123: 256,
 124: 32,
 125: 751,
 126: 349,
 127: 193,
 128: 489,
 129: 901,
 130: 668,
 131: 870,
 132: 61,
 133: 625,
 134: 223,
 135: 205,
 136: 989,
 137: 176,
 138: 877,
 139: 580,
 140: 51,
 141: 115,
 142: 330,
 143: 977,
 144: 778,
 145: 220,
 146: 241,
 147: 96,
 148: 430,
 149: 918,
 150: 644,
 151: 646,
 152: 47,
 153: 260,
 154: 529,
 155: 879,
 156: 890,
 157: 69,
 158: 322,
 159: 505,
 160: 480,
 161: 131,
 162: 203,
 163: 78,
 164: 308,
 165: 371,
 166: 75,
 167: 300,
 168: 650,
 169: 731,
 170: 943,
 171: 271,
 172: 45,
 173: 317,
 174: 488,
 175: 480,
 176: 571,
 177: 635,
 178: 283,
 179: 739,
 180: 704,
 181: 589,
 182: 674,
 183: 960,
 184: 46,
 185: 234,
 186: 681,
 187: 240,
 188: 365,
 189: 763,
 190: 26,
 191: 669,
 192: 942,
 193: 461,
 194: 877,
 195: 449,
 196: 233,
 197: 361,
 198: 368,
 199: 131,
 200: 46,
 201: 46,
 202: 352,
 203: 870,
 204: 271,
 205: 83,
 206: 930,
 207: 98,
 208: 12,
 209: 49,
 210: 594,
 211: 244,
 212: 453,
 213: 546,
 214: 379,
 215: 458,
 216: 115,
 217: 735,
 218: 350,
 219: 142,
 220: 343,
 221: 209,
 222: 132,
 223: 309,
 224: 281,
 225: 105,
 226: 800,
 227: 775,
 228: 476,
 229: 885,
 230: 589,
 231: 275,
 232: 196,
 233: 948,
 234: 987,
 235: 405,
 236: 285,
 237: 313,
 238: 921,
 239: 9,
 240: 295,
 241: 223,
 242: 991,
 243: 656,
 244: 304,
 245: 136,
 246: 922,
 247: 234,
 248: 643,
 249: 871,
 250: 600,
 251: 100,
 252: 329,
 253: 442,
 254: 644,
 255: 80,
 256: 234,
 257: 804,
 258: 755,
 259: 88,
 260: 733,
 261: 654,
 262: 953,
 263: 650,
 264: 608,
 265: 704,
 266: 162,
 267: 616,
 268: 702,
 269: 637,
 270: 249,
 271: 547,
 272: 79,
 273: 647,
 274: 596,
 275: 603,
 276: 210,
 277: 49,
 278: 766,
 279: 322,
 280: 660,
 281: 626,
 282: 684,
 283: 77,
 284: 882,
 285: 87,
 286: 446,
 287: 771,
 288: 878,
 289: 991,
 290: 956,
 291: 831,
 292: 672,
 293: 661,
 294: 635,
 295: 663,
 296: 366,
 297: 958,
 298: 123,
 299: 892,
 300: 637,
 301: 757,
 302: 97,
 303: 302,
 304: 30,
 305: 413,
 306: 449,
 307: 652,
 308: 631,
 309: 998,
 310: 431,
 311: 378,
 312: 148,
 313: 887,
 314: 556,
 315: 247,
 316: 967,
 317: 960,
 318: 373,
 319: 502,
 320: 942,
 321: 391,
 322: 699,
 323: 169,
 324: 745,
 325: 511,
 326: 26,
 327: 906,
 328: 167,
 329: 607,
 330: 765,
 331: 145,
 332: 984,
 333: 764,
 334: 452,
 335: 152,
 336: 830,
 337: 166,
 338: 746,
 339: 619,
 340: 335,
 341: 992,
 342: 349,
 343: 265,
 344: 705,
 345: 451,
 346: 983,
 347: 776,
 348: 482,
 349: 856,
 350: 314,
 351: 129,
 352: 647,
 353: 25,
 354: 193,
 355: 522,
 356: 381,
 357: 682,
 358: 718,
 359: 77,
 360: 779,
 361: 731,
 362: 943,
 363: 383,
 364: 755,
 365: 342,
 366: 856,
 367: 397,
 368: 814,
 369: 80,
 370: 246,
 371: 560,
 372: 683,
 373: 226,
 374: 55,
 375: 377,
 376: 942,
 377: 180,
 378: 11,
 379: 957,
 380: 720,
 381: 928,
 382: 202,
 383: 937,
 384: 214,
 385: 297,
 386: 951,
 387: 782,
 388: 458,
 389: 739,
 390: 763,
 391: 736,
 392: 273,
 393: 47,
 394: 502,
 395: 42,
 396: 808,
 397: 503,
 398: 60,
 399: 463,
 400: 799,
 401: 64,
 402: 519,
 403: 477,
 404: 195,
 405: 980,
 406: 79,
 407: 791,
 408: 687,
 409: 912,
 410: 975,
 411: 859,
 412: 613,
 413: 596,
 414: 426,
 415: 882,
 416: 557,
 417: 254,
 418: 9,
 419: 554,
 420: 430,
 421: 297,
 422: 633,
 423: 848,
 424: 680,
 425: 246,
 426: 856,
 427: 43,
 428: 971,
 429: 874,
 430: 12,
 431: 773,
 432: 489,
 433: 32,
 434: 557,
 435: 169,
 436: 304,
 437: 910,
 438: 133,
 439: 323,
 440: 786,
 441: 583,
 442: 240,
 443: 825,
 444: 69,
 445: 665,
 446: 876,
 447: 286,
 448: 766,
 449: 597,
 450: 715,
 451: 635,
 452: 705,
 453: 902,
 454: 764,
 455: 361,
 456: 191,
 457: 207,
 458: 163,
 459: 393,
 460: 984,
 461: 814,
 462: 776,
 463: 808,
 464: 158,
 465: 822,
 466: 530,
 467: 175,
 468: 762,
 469: 716,
 470: 920,
 471: 134,
 472: 317,
 473: 465,
 474: 601,
 475: 219,
 476: 612,
 477: 153,
 478: 544,
 479: 961,
 480: 828,
 481: 831,
 482: 818,
 483: 275,
 484: 695,
 485: 363,
 486: 204,
 487: 94,
 488: 962,
 489: 118,
 490: 565,
 491: 491,
 492: 339,
 493: 448,
 494: 242,
 495: 895,
 496: 340,
 497: 694,
 498: 869,
 499: 436,
 500: 247,
 501: 844,
 502: 865,
 503: 491,
 504: 392,
 505: 626,
 506: 680,
 507: 325,
 508: 349,
 509: 79,
 510: 113,
 511: 914,
 512: 475,
 513: 721,
 514: 887,
 515: 109,
 516: 527,
 517: 409,
 518: 785,
 519: 705,
 520: 428,
 521: 565,
 522: 592,
 523: 626,
 524: 485,
 525: 69,
 526: 444,
 527: 366,
 528: 629,
 529: 345,
 530: 2,
 531: 312,
 532: 472,
 533: 436,
 534: 272,
 535: 514,
 536: 108,
 537: 577,
 538: 433,
 539: 516,
 540: 720,
 541: 503,
 542: 123,
 543: 6,
 544: 5,
 545: 386,
 546: 461,
 547: 518,
 548: 206,
 549: 996,
 550: 445,
 551: 528,
 552: 907,
 553: 780,
 554: 843,
 555: 178,
 556: 452,
 557: 73,
 558: 162,
 559: 921,
 560: 372,
 561: 168,
 562: 233,
 563: 504,
 564: 983,
 565: 679,
 566: 738,
 567: 376,
 568: 397,
 569: 63,
 570: 477,
 571: 509,
 572: 930,
 573: 938,
 574: 574,
 575: 724,
 576: 176,
 577: 10,
 578: 802,
 579: 602,
 580: 221,
 581: 925,
 582: 505,
 583: 182,
 584: 684,
 585: 909,
 586: 962,
 587: 10,
 588: 391,
 589: 950,
 590: 889,
 591: 489,
 592: 804,
 593: 654,
 594: 867,
 595: 843,
 596: 457,
 597: 54,
 598: 815,
 599: 534,
 600: 809,
 601: 348,
 602: 33,
 603: 278,
 604: 837,
 605: 996,
 606: 860,
 607: 700,
 608: 325,
 609: 803,
 610: 162,
 611: 729,
 612: 684,
 613: 406,
 614: 663,
 615: 178,
 616: 551,
 617: 343,
 618: 892,
 619: 536,
 620: 202,
 621: 697,
 622: 432,
 623: 863,
 624: 507,
 625: 744,
 626: 774,
 627: 383,
 628: 78,
 629: 712,
 630: 826,
 631: 153,
 632: 365,
 633: 734,
 634: 197,
 635: 988,
 636: 550,
 637: 981,
 638: 709,
 639: 801,
 640: 245,
 641: 358,
 642: 510,
 643: 464,
 644: 337,
 645: 112,
 646: 24,
 647: 339,
 648: 937,
 649: 182,
 650: 738,
 651: 697,
 652: 699,
 653: 613,
 654: 350,
 655: 378,
 656: 637,
 657: 97,
 658: 224,
 659: 495,
 660: 8,
 661: 902,
 662: 555,
 663: 130,
 664: 9,
 665: 113,
 666: 229,
 667: 796,
 668: 332,
 669: 681,
 670: 871,
 671: 640,
 672: 998,
 673: 132,
 674: 946,
 675: 858,
 676: 884,
 677: 611,
 678: 529,
 679: 317,
 680: 226,
 681: 687,
 682: 267,
 683: 930,
 684: 443,
 685: 838,
 686: 995,
 687: 716,
 688: 445,
 689: 793,
 690: 948,
 691: 461,
 692: 899,
 693: 195,
 694: 46,
 695: 848,
 696: 927,
 697: 376,
 698: 432,
 699: 240,
 700: 208,
 701: 365,
 702: 660,
 703: 40,
 704: 932,
 705: 969,
 706: 130,
 707: 659,
 708: 40,
 709: 160,
 710: 472,
 711: 944,
 712: 277,
 713: 820,
 714: 979,
 715: 300,
 716: 424,
 717: 650,
 718: 680,
 719: 829,
 720: 963,
 721: 777,
 722: 118,
 723: 846,
 724: 937,
 725: 129,
 726: 862,
 727: 481,
 728: 458,
 729: 761,
 730: 210,
 731: 322,
 732: 993,
 733: 415,
 734: 174,
 735: 242,
 736: 287,
 737: 475,
 738: 922,
 739: 842,
 740: 136,
 741: 346,
 742: 0,
 743: 321,
 744: 14,
 745: 998,
 746: 945,
 747: 171,
 748: 282,
 749: 571,
 750: 659,
 751: 729,
 752: 275,
 753: 201,
 754: 314,
 755: 898,
 756: 693,
 757: 823,
 758: 831,
 759: 688,
 760: 377,
 761: 364,
 762: 711,
 763: 17,
 764: 421,
 765: 689,
 766: 485,
 767: 316,
 768: 588,
 769: 925,
 770: 439,
 771: 13,
 772: 489,
 773: 715,
 774: 325,
 775: 762,
 776: 229,
 777: 51,
 778: 197,
 779: 517,
 780: 53,
 781: 740,
 782: 240,
 783: 355,
 784: 294,
 785: 923,
 786: 635,
 787: 196,
 788: 240,
 789: 602,
 790: 951,
 791: 698,
 792: 514,
 793: 509,
 794: 398,
 795: 704,
 796: 281,
 797: 357,
 798: 486,
 799: 843,
 800: 641,
 801: 0,
 802: 744,
 803: 785,
 804: 3,
 805: 912,
 806: 154,
 807: 179,
 808: 862,
 809: 385,
 810: 997,
 811: 298,
 812: 246,
 813: 934,
 814: 291,
 815: 931,
 816: 831,
 817: 97,
 818: 807,
 819: 566,
 820: 767,
 821: 759,
 822: 351,
 823: 642,
 824: 881,
 825: 347,
 826: 989,
 827: 48,
 828: 369,
 829: 876,
 830: 548,
 831: 20,
 832: 574,
 833: 526,
 834: 985,
 835: 655,
 836: 933,
 837: 415,
 838: 53,
 839: 742,
 840: 611,
 841: 684,
 842: 178,
 843: 136,
 844: 680,
 845: 16,
 846: 623,
 847: 750,
 848: 526,
 849: 258,
 850: 148,
 851: 762,
 852: 109,
 853: 53,
 854: 537,
 855: 755,
 856: 50,
 857: 971,
 858: 465,
 859: 782,
 860: 475,
 861: 68,
 862: 860,
 863: 753,
 864: 265,
 865: 958,
 866: 863,
 867: 615,
 868: 270,
 869: 855,
 870: 130,
 871: 151,
 872: 52,
 873: 369,
 874: 576,
 875: 635,
 876: 282,
 877: 493,
 878: 117,
 879: 948,
 880: 633,
 881: 227,
 882: 118,
 883: 841,
 884: 736,
 885: 746,
 886: 695,
 887: 901,
 888: 108,
 889: 553,
 890: 89,
 891: 752,
 892: 367,
 893: 400,
 894: 836,
 895: 153,
 896: 93,
 897: 479,
 898: 736,
 899: 389,
 900: 472,
 901: 759,
 902: 591,
 903: 641,
 904: 888,
 905: 758,
 906: 292,
 907: 768,
 908: 293,
 909: 740,
 910: 920,
 911: 90,
 912: 415,
 913: 900,
 914: 803,
 915: 764,
 916: 378,
 917: 388,
 918: 556,
 919: 614,
 920: 764,
 921: 704,
 922: 239,
 923: 240,
 924: 696,
 925: 345,
 926: 163,
 927: 419,
 928: 599,
 929: 261,
 930: 745,
 931: 707,
 932: 746,
 933: 630,
 934: 144,
 935: 34,
 936: 862,
 937: 128,
 938: 841,
 939: 760,
 940: 987,
 941: 413,
 942: 412,
 943: 335,
 944: 502,
 945: 933,
 946: 99,
 947: 595,
 948: 59,
 949: 547,
 950: 916,
 951: 931,
 952: 40,
 953: 468,
 954: 32,
 955: 662,
 956: 714,
 957: 723,
 958: 114,
 959: 708,
 960: 975,
 961: 262,
 962: 275,
 963: 226,
 964: 610,
 965: 606,
 966: 910,
 967: 876,
 968: 33,
 969: 649,
 970: 716,
 971: 71,
 972: 473,
 973: 461,
 974: 642,
 975: 19,
 976: 968,
 977: 527,
 978: 491,
 979: 353,
 980: 722,
 981: 426,
 982: 970,
 983: 495,
 984: 488,
 985: 187,
 986: 236,
 987: 42,
 988: 265,
 989: 188,
 990: 63,
 991: 169,
 992: 576,
 993: 24,
 994: 905,
 995: 748,
 996: 635,
 997: 245,
 998: 313,
 999: 967,
 ...}

In [86]:
#要素だけを削除
# df1.clear()
del df1[0]
df1

Counter({858: 3,
         384: 1,
         976: 1,
         930: 5,
         634: 1,
         223: 3,
         413: 4,
         881: 2,
         368: 2,
         873: 1,
         916: 2,
         955: 2,
         122: 1,
         327: 1,
         92: 2,
         282: 4,
         956: 2,
         415: 5,
         432: 6,
         437: 1,
         546: 3,
         291: 2,
         461: 5,
         139: 2,
         138: 3,
         448: 3,
         936: 3,
         221: 2,
         876: 5,
         347: 3,
         631: 2,
         725: 1,
         949: 2,
         271: 3,
         545: 1,
         320: 2,
         60: 5,
         350: 4,
         839: 3,
         382: 1,
         776: 3,
         411: 2,
         586: 1,
         45: 2,
         123: 4,
         720: 3,
         497: 2,
         243: 2,
         363: 3,
         236: 2,
         399: 1,
         217: 2,
         118: 7,
         486: 3,
         29: 1,
         900: 2,
         484: 4,
         905: 2,
         800: 4,
         339: 4,
         950: 3,
         684: 6,
         507: 3,
         750: 2,
         352: 2,
         516: 3,
         760: 2,
         16: 2,
         759: 3,
         196: 3,
         775: 2,
         993: 2,
         984: 3,
         159: 1,
         716: 5,
         81: 1,
         355: 4,
         714: 2,
         2: 3,
         440: 1,
         372: 5,
         589: 4,
         119: 2,
         299: 1,
         909: 4,
         37: 1,
         402: 1,
         30: 4,
         604: 1,
         851: 1,
         934: 2,
         109: 3,
         531: 1,
         393: 2,
         496: 1,
         535: 1,
         513: 1,
         797: 1,
         648: 1,
         319: 2,
         669: 3,
         173: 1,
         269: 1,
         557: 3,
         653: 1,
         137: 2,
         193: 4,
         642: 4,
         487: 1,
         765: 2,
         182: 3,
         912: 3,
         18: 2,
         1: 1,
         549: 3,
         256: 1,
         32: 3,
         751: 2,
         349: 3,
         489: 4,
         901: 2,
         668: 1,
         870: 2,
         61: 1,
         625: 2,
         205: 1,
         989: 3,
         176: 2,
         877: 3,
         580: 2,
         51: 2,
         115: 2,
         330: 2,
         977: 1,
         778: 1,
         220: 2,
         241: 1,
         96: 1,
         430: 4,
         918: 1,
         644: 3,
         646: 1,
         47: 4,
         260: 1,
         529: 5,
         879: 2,
         890: 3,
         69: 4,
         322: 4,
         505: 2,
         480: 2,
         131: 3,
         203: 2,
         78: 2,
         308: 1,
         371: 1,
         75: 2,
         300: 2,
         650: 3,
         731: 3,
         943: 3,
         317: 3,
         488: 2,
         571: 3,
         635: 6,
         283: 2,
         739: 4,
         704: 4,
         674: 2,
         960: 2,
         46: 5,
         234: 3,
         681: 2,
         240: 6,
         365: 4,
         763: 4,
         26: 2,
         942: 3,
         449: 2,
         233: 2,
         361: 2,
         83: 1,
         98: 3,
         12: 3,
         49: 2,
         594: 1,
         244: 1,
         453: 1,
         379: 1,
         458: 3,
         735: 2,
         142: 1,
         343: 2,
         209: 2,
         132: 2,
         309: 2,
         281: 4,
         105: 1,
         476: 1,
         885: 1,
         275: 4,
         948: 3,
         987: 2,
         405: 1,
         285: 1,
         313: 2,
         921: 3,
         9: 5,
         295: 1,
         991: 3,
         656: 1,
         304: 2,
         136: 3,
         922: 3,
         643: 1,
         871: 3,
         600: 3,
         100: 1,
         329: 2,
         442: 1,
         80: 2,
         804: 3,
         755: 3,
         88: 2,
         733: 3,
         654: 2,
         953: 4,
         608: 2,
         162: 4,
         616: 1,
         702: 2,
         637: 5,
         249: 1,
         547: 2,
         79: 3,
         647: 2,
         596: 3,
         603: 2,
         210: 2,
         766: 2,
         660: 2,
         626: 3,
         77: 2,
         882: 3,
         87: 2,
         446: 1,
         771: 2,
         878: 2,
         831: 5,
         672: 2,
         661: 2,
         663: 2,
         366: 2,
         958: 4,
         892: 3,
         757: 1,
         97: 4,
         302: 2,
         652: 1,
         998: 3,
         431: 2,
         378: 3,
         148: 2,
         887: 2,
         556: 2,
         247: 2,
         967: 2,
         373: 2,
         502: 3,
         391: 3,
         699: 2,
         169: 4,
         745: 3,
         511: 1,
         906: 2,
         167: 2,
         607: 2,
         145: 2,
         764: 4,
         452: 2,
         152: 1,
         830: 1,
         166: 1,
         746: 5,
         619: 1,
         335: 2,
         992: 1,
         265: 3,
         705: 4,
         451: 2,
         983: 2,
         482: 2,
         856: 4,
         314: 2,
         129: 2,
         25: 1,
         522: 2,
         381: 1,
         682: 1,
         718: 1,
         779: 1,
         383: 2,
         342: 2,
         397: 2,
         814: 2,
         246: 3,
         560: 1,
         683: 2,
         226: 5,
         55: 3,
         377: 4,
         180: 1,
         11: 1,
         957: 1,
         928: 4,
         202: 2,
         937: 3,
         214: 1,
         297: 2,
         951: 5,
         782: 2,
         736: 3,
         273: 2,
         42: 2,
         808: 2,
         503: 2,
         463: 2,
         799: 3,
         64: 1,
         519: 1,
         477: 2,
         195: 2,
         980: 1,
         791: 1,
         687: 2,
         975: 2,
         859: 2,
         613: 3,
         426: 2,
         254: 1,
         554: 1,
         633: 2,
         848: 2,
         680: 4,
         43: 2,
         971: 2,
         874: 1,
         773: 1,
         910: 2,
         133: 2,
         323: 1,
         786: 1,
         583: 2,
         825: 1,
         665: 1,
         286: 2,
         597: 3,
         715: 3,
         902: 2,
         191: 1,
         207: 2,
         163: 2,
         158: 1,
         822: 1,
         530: 1,
         175: 2,
         762: 3,
         920: 3,
         134: 3,
         465: 2,
         601: 2,
         219: 1,
         612: 2,
         153: 3,
         544: 2,
         961: 1,
         828: 2,
         818: 2,
         695: 2,
         204: 2,
         94: 2,
         962: 3,
         565: 2,
         491: 3,
         242: 2,
         895: 1,
         340: 1,
         694: 2,
         869: 1,
         436: 2,
         844: 3,
         865: 1,
         392: 1,
         325: 4,
         113: 2,
         914: 1,
         475: 4,
         721: 1,
         527: 2,
         409: 1,
         785: 3,
         428: 2,
         592: 1,
         485: 4,
         444: 1,
         629: 1,
         345: 2,
         312: 1,
         472: 3,
         272: 2,
         514: 4,
         108: 3,
         577: 3,
         433: 2,
         6: 2,
         5: 1,
         386: 2,
         518: 1,
         206: 1,
         996: 2,
         445: 4,
         528: 1,
         907: 2,
         780: 1,
         843: 3,
         178: 4,
         73: 1,
         168: 2,
         504: 1,
         679: 1,
         738: 2,
         376: 2,
         63: 2,
         509: 4,
         938: 1,
         574: 3,
         724: 1,
         10: 2,
         802: 4,
         602: 2,
         925: 2,
         889: 1,
         867: 1,
         457: 1,
         54: 2,
         815: 1,
         534: 1,
         809: 3,
         348: 3,
         33: 3,
         278: 3,
         837: 1,
         860: 2,
         700: 1,
         803: 2,
         729: 2,
         406: 1,
         551: 1,
         536: 1,
         697: 2,
         863: 2,
         744: 2,
         774: 1,
         712: 2,
         826: 1,
         734: 2,
         197: 2,
         988: 4,
         550: 2,
         981: 2,
         709: 1,
         801: 1,
         245: 3,
         358: 2,
         510: 1,
         464: 2,
         337: 2,
         112: 3,
         24: 2,
         224: 1,
         495: 2,
         8: 2,
         555: 2,
         130: 3,
         229: 3,
         796: 1,
         332: 1,
         640: 3,
         946: 2,
         884: 1,
         611: 3,
         267: 1,
         443: 2,
         838: 1,
         995: 3,
         793: 1,
         899: 1,
         927: 1,
         208: 4,
         40: 4,
         932: 1,
         969: 1,
         659: 3,
         160: 2,
         944: 1,
         277: 2,
         820: 1,
         979: 2,
         424: 3,
         829: 1,
         963: 2,
         777: 1,
         846: 2,
         862: 3,
         481: 2,
         761: 1,
         174: 1,
         287: 2,
         842: 1,
         346: 1,
         321: 2,
         14: 1,
         945: 1,
         171: 1,
         201: 2,
         898: 1,
         693: 1,
         823: 1,
         688: 2,
         364: 1,
         711: 1,
         17: 2,
         421: 1,
         689: 2,
         316: 1,
         588: 1,
         439: 1,
         13: 1,
         517: 1,
         53: 3,
         740: 2,
         294: 1,
         923: 1,
         698: 2,
         398: 3,
         357: 3,
         641: 4,
         3: 1,
         154: 1,
         179: 1,
         385: 1,
         997: 1,
         298: 1,
         931: 4,
         807: 1,
         566: 4,
         767: 1,
         351: 1,
         48: 2,
         369: 2,
         548: 1,
         20: 2,
         526: 2,
         985: 3,
         655: 2,
         933: 2,
         742: 2,
         623: 1,
         258: 2,
         537: 1,
         50: 2,
         68: 3,
         753: 3,
         615: 1,
         270: 1,
         855: 1,
         151: 1,
         52: 2,
         576: 2,
         493: 2,
         117: 2,
         227: 1,
         841: 2,
         553: 2,
         89: 3,
         752: 1,
         367: 1,
         400: 2,
         836: 1,
         93: 1,
         479: 1,
         389: 1,
         591: 2,
         888: 3,
         758: 3,
         292: 2,
         768: 1,
         293: 1,
         90: 1,
         388: 1,
         614: 1,
         239: 1,
         696: 2,
         419: 1,
         599: 1,
         261: 1,
         707: 1,
         630: 3,
         144: 2,
         34: 1,
         128: 1,
         412: 1,
         99: 1,
         595: 4,
         59: 1,
         468: 3,
         662: 1,
         723: 1,
         114: 3,
         708: 1,
         262: 1,
         610: 1,
         606: 3,
         649: 1,
         71: 1,
         473: 1,
         19: 2,
         968: 1,
         353: 3,
         722: 1,
         970: 1,
         187: 1,
         188: 2,
         748: 2,
         935: 2,
         840: 3,
         126: 1,
         570: 2,
         540: 1,
         418: 1,
         728: 1,
         74: 1,
         692: 2,
         737: 1,
         394: 4,
         917: 2,
         387: 1,
         125: 2,
         973: 1,
         280: 2,
         494: 1,
         719: 1,
         520: 2,
         811: 1,
         790: 2,
         552: 1,
         805: 1,
         567: 1,
         798: 1,
         28: 1,
         959: 2,
         515: 1,
         194: 2,
         106: 1,
         622: 2,
         338: 1,
         124: 1,
         939: 1,
         183: 1,
         621: 1,
         408: 1,
         713: 1,
         264: 1,
         150: 1,
         7: 2,
         941: 3,
         940: 2,
         250: 1,
         44: 1,
         677: 1,
         274: 2,
         492: 1,
         483: 1,
         671: 2,
         628: 1,
         359: 1,
         994: 1,
         459: 1,
         414: 2,
         370: 2,
         691: 1,
         827: 1,
         498: 1,
         257: 1,
         624: 1,
         462: 1,
         849: 2,
         252: 2,
         685: 1,
         170: 1,
         318: 1,
         232: 3,
         222: 1,
         727: 2,
         146: 1,
         31: 1,
         605: 1,
         850: 1,
         986: 2,
         65: 1,
         754: 2,
         824: 1,
         947: 2,
         590: 2,
         533: 1,
         438: 1,
         978: 1,
         447: 1,
         658: 1,
         636: 1,
         638: 1,
         559: 1,
         460: 2,
         35: 2,
         857: 2,
         929: 1,
         91: 1,
         185: 1,
         310: 2,
         470: 1,
         268: 1,
         657: 1,
         474: 1,
         609: 1,
         276: 1,
         429: 1,
         161: 1,
         675: 2,
         911: 1,
         847: 1,
         101: 1,
         543: 1,
         72: 1,
         423: 1,
         237: 1,
         788: 1,
         218: 1,
         140: 1,
         620: 1,
         584: 1,
         908: 1,
         22: 1,
         41: 1,
         76: 1,
         469: 1,
         893: 2,
         499: 1,
         781: 2,
         305: 2,
         795: 1,
         455: 1,
         974: 1,
         23: 1,
         199: 1,
         558: 1,
         427: 1,
         422: 1,
         747: 1,
         326: 1,
         216: 1,
         164: 1,
         579: 1,
         251: 1,
         184: 1,
         103: 1,
         235: 1,
         149: 1,
         110: 1,
         880: 1,
         374: 1,
         645: 1,
         866: 1})

In [87]:
# import pandas as pd
# from sklearn.preprocessing import OneHotEncoder

# #変数化
# n_df=range(0,10,1)
# # Num_list=pd.DataFrame(columns=df,dtype='int')
# Num_list=n_df
# enc=OneHotEncoder(categories=[Num_list],sparse=False)
# Num_d=enc.fit_transform(df1)
# df_N=pd.DataFrame(Num_d,index=df1.index,columns=Num_list,dtype='int')
# df_N

In [88]:
import os
import pandas as pd
import numpy as np

df['y_count'] = np.nan
df

,No,date,Lottery_result,hundreds_place,tens_place,ones_place,Next_result,year,y_count
0,1,2018-01-04,858,8,5,8,384,2018,NaN
1,2,2018-01-05,384,3,8,4,976,2018,NaN
2,3,2018-01-08,976,9,7,6,930,2018,NaN
3,4,2018-01-09,930,9,3,0,634,2018,NaN
4,5,2018-01-10,634,6,3,4,223,2018,NaN
...,...,...,...,...,...,...,...,...,...
1511,222,2023-11-09,866,8,6,6,60,2023,NaN
1512,223,2023-11-10,60,0,6,0,566,2023,NaN
1513,224,2023-11-13,566,5,6,6,208,2023,NaN
1514,225,2023-11-14,208,2,0,8,802,2023,NaN
1515,226,2023-11-15,802,8,0,2,480,2023,NaN

In [89]:
#頻度をカウントするには
import os
import pandas as pd
import numpy as np

df_num=(df == 2018) | (df == 858)
df_num.sum()

No                  0
date                0
Lottery_result      3
hundreds_place      0
tens_place          0
ones_place          0
Next_result         2
year              257
y_count             0
dtype: int64

In [90]:
import os
import pandas as pd
import numpy as np

# data_dir="/workdir/Num_3_predict/01_output/Challenge_5/"

# Num_3_2018_2023=os.path.join(data_dir,"Num_3_2018_2023.csv")
# Num_3_2018_2023=pd.read_csv(os.path.join(data_dir,"Num_3_2018_2023.csv"))
# Num_3_2018_2023= pd.to_datetime(Num_3_2018_2023['date'])
# Num_3_2018_2023['year']=Num_3_2018_2023['date'].dt.year
# df = Num_3_2018_2023

# df['y_count'] = np.nan
# df

for k in range(0,1000): 

    # Num_3_2018_2023=sum((Num_3_2018_2023.Lottery_result == k) & (Num_3_2018_2023.date == 2019))
    df_new=sum(df.Lottery_result == k) #0～999の数値が出現頻度です
# df_1=(df.Lottery_result == 60) & (df.year == 2023)
# df_2=(df.Lottery_result == 384) & (df.year == 2018) & (df.year == 2019)

    
    
# print(df)
    print(k,df_new)
# print(df_2)

0 2
1 1
2 3
3 1
4 0
5 1
6 2
7 2
8 2
9 5
10 2
11 1
12 3
13 1
14 1
15 0
16 2
17 2
18 2
19 2
20 2
21 0
22 1
23 1
24 2
25 1
26 2
27 0
28 1
29 1
30 4
31 1
32 3
33 3
34 1
35 2
36 0
37 1
38 0
39 0
40 4
41 1
42 2
43 2
44 1
45 2
46 5
47 4
48 2
49 2
50 2
51 2
52 2
53 3
54 2
55 3
56 0
57 0
58 0
59 1
60 5
61 1
62 0
63 2
64 1
65 1
66 0
67 0
68 3
69 4
70 0
71 1
72 1
73 1
74 1
75 2
76 1
77 2
78 2
79 3
80 2
81 1
82 0
83 1
84 0
85 0
86 0
87 2
88 2
89 3
90 1
91 1
92 2
93 1
94 2
95 0
96 1
97 4
98 3
99 1
100 1
101 1
102 0
103 1
104 0
105 1
106 1
107 0
108 3
109 3
110 1
111 0
112 3
113 2
114 3
115 2
116 0
117 2
118 7
119 2
120 0
121 0
122 1
123 4
124 1
125 2
126 1
127 0
128 1
129 2
130 3
131 3
132 2
133 2
134 3
135 0
136 3
137 2
138 3
139 2
140 1
141 0
142 1
143 0
144 2
145 2
146 1
147 0
148 2
149 1
150 1
151 1
152 1
153 3
154 1
155 0
156 0
157 0
158 1
159 1
160 2
161 1
162 4
163 2
164 1
165 0
166 1
167 2
168 2
169 4
170 1
171 1
172 0
173 1
174 1
175 2
176 2
177 0
178 4
179 1
180 1
181 0
182 3
183 1
184 1
185 1
186 0
187 1
188 2
189 0
190 0
191 1
192 0
193 4
194 2
195 2
196 3
197 2
198 0
199 1
200 0
201 2
202 2
203 2
204 2
205 1
206 1
207 2
208 4
209 2
210 2
211 0
212 0
213 0
214 1
215 0
216 1
217 2
218 1
219 1
220 2
221 2
222 1
223 3
224 1
225 0
226 5
227 1
228 0
229 3
230 0
231 0
232 3
233 2
234 3
235 1
236 2
237 1
238 0
239 1
240 6
241 1
242 2
243 2
244 1
245 3
246 3
247 2
248 0
249 1
250 1
251 1
252 2
253 0
254 1
255 0
256 1
257 1
258 2
259 0
260 1
261 1
262 1
263 0
264 1
265 3
266 0
267 1
268 1
269 1
270 1
271 3
272 2
273 2
274 2
275 4
276 1
277 2
278 3
279 0
280 2
281 4
282 4
283 2
284 0
285 1
286 2
287 2
288 0
289 0
290 0
291 2
292 2
293 1
294 1
295 1
296 0
297 2
298 1
299 1
300 2
301 0
302 2
303 0
304 2
305 2
306 0
307 0
308 1
309 2
310 2
311 0
312 1
313 2
314 2
315 0
316 1
317 3
318 1
319 2
320 2
321 2
322 4
323 1
324 0
325 4
326 1
327 1
328 0
329 2
330 2
331 0
332 1
333 0
334 0
335 2
336 0
337 2
338 1
339 4
340 1
341 0
342 2
343 2
344 0
345 2
346 1
347 3
348 3
349 3
350 4
351 1
352 2
353 3
354 0
355 4
356 0
357 3
358 2
359 1
360 0
361 2
362 0
363 3
364 1
365 4
366 2
367 1
368 2
369 2
370 2
371 1
372 5
373 2
374 1
375 0
376 2
377 4
378 3
379 1
380 0
381 1
382 1
383 2
384 1
385 1
386 2
387 1
388 1
389 1
390 0
391 3
392 1
393 2
394 4
395 0
396 0
397 2
398 3
399 1
400 2
401 0
402 1
403 0
404 0
405 1
406 1
407 0
408 1
409 1
410 0
411 2
412 1
413 4
414 2
415 5
416 0
417 0
418 1
419 1
420 0
421 1
422 1
423 1
424 3
425 0
426 2
427 1
428 2
429 1
430 4
431 2
432 6
433 2
434 0
435 0
436 2
437 1
438 1
439 1
440 1
441 0
442 1
443 2
444 1
445 4
446 1
447 1
448 3
449 2
450 0
451 2
452 2
453 1
454 0
455 1
456 0
457 1
458 3
459 1
460 2
461 5
462 1
463 2
464 2
465 2
466 0
467 0
468 3
469 1
470 1
471 0
472 3
473 1
474 1
475 4
476 1
477 2
478 0
479 1
480 2
481 2
482 2
483 1
484 4
485 4
486 3
487 1
488 2
489 4
490 0
491 3
492 1
493 2
494 1
495 2
496 1
497 2
498 1
499 1
500 0
501 0
502 3
503 2
504 1
505 2
506 0
507 3
508 0
509 4
510 1
511 1
512 0
513 1
514 4
515 1
516 3
517 1
518 1
519 1
520 2
521 0
522 2
523 0
524 0
525 0
526 2
527 2
528 1
529 5
530 1
531 1
532 0
533 1
534 1
535 1
536 1
537 1
538 0
539 0
540 1
541 0
542 0
543 1
544 2
545 1
546 3
547 2
548 1
549 3
550 2
551 1
552 1
553 2
554 1
555 2
556 2
557 3
558 1
559 1
560 1
561 0
562 0
563 0
564 0
565 2
566 4
567 1
568 0
569 0
570 2
571 3
572 0
573 0
574 3
575 0
576 2
577 3
578 0
579 1
580 2
581 0
582 0
583 2
584 1
585 0
586 1
587 0
588 1
589 4
590 2
591 2
592 1
593 0
594 1
595 4
596 3
597 3
598 0
599 1
600 3
601 2
602 2
603 2
604 1
605 1
606 3
607 2
608 2
609 1
610 1
611 3
612 2
613 3
614 1
615 1
616 1
617 0
618 0
619 1
620 1
621 1
622 2
623 1
624 1
625 2
626 3
627 0
628 1
629 1
630 3
631 2
632 0
633 2
634 1
635 6
636 1
637 5
638 1
639 0
640 3
641 4
642 4
643 1
644 3
645 1
646 1
647 2
648 1
649 1
650 3
651 0
652 1
653 1
654 2
655 2
656 1
657 1
658 1
659 3
660 2
661 2
662 1
663 2
664 0
665 1
666 0
667 0
668 1
669 3
670 0
671 2
672 2
673 0
674 2
675 2
676 0
677 1
678 0
679 1
680 4
681 2
682 1
683 2
684 6
685 1
686 0
687 2
688 2
689 2
690 0
691 1
692 2
693 1
694 2
695 2
696 2
697 2
698 2
699 2
700 1
701 0
702 2
703 0
704 4
705 4
706 0
707 1
708 1
709 1
710 0
711 1
712 2
713 1
714 2
715 3
716 5
717 0
718 1
719 1
720 3
721 1
722 1
723 1
724 1
725 1
726 0
727 2
728 1
729 2
730 0
731 3
732 0
733 3
734 2
735 2
736 3
737 1
738 2
739 4
740 2
741 0
742 2
743 0
744 2
745 3
746 5
747 1
748 2
749 0
750 2
751 2
752 1
753 3
754 2
755 3
756 0
757 1
758 3
759 3
760 2
761 1
762 3
763 4
764 4
765 2
766 2
767 1
768 1
769 0
770 0
771 2
772 0
773 1
774 1
775 2
776 3
777 1
778 1
779 1
780 1
781 2
782 2
783 0
784 0
785 3
786 1
787 0
788 1
789 0
790 2
791 1
792 0
793 1
794 0
795 1
796 1
797 1
798 1
799 3
800 4
801 1
802 4
803 2
804 3
805 1
806 0
807 1
808 2
809 3
810 0
811 1
812 0
813 0
814 2
815 1
816 0
817 0
818 2
819 0
820 1
821 0
822 1
823 1
824 1
825 1
826 1
827 1
828 2
829 1
830 1
831 5
832 0
833 0
834 0
835 0
836 1
837 1
838 1
839 3
840 3
841 2
842 1
843 3
844 3
845 0
846 2
847 1
848 2
849 2
850 1
851 1
852 0
853 0
854 0
855 1
856 4
857 2
858 3
859 2
860 2
861 0
862 3
863 2
864 0
865 1
866 1
867 1
868 0
869 1
870 2
871 3
872 0
873 1
874 1
875 0
876 5
877 3
878 2
879 2
880 1
881 2
882 3
883 0
884 1
885 1
886 0
887 2
888 3
889 1
890 3
891 0
892 3
893 2
894 0
895 1
896 0
897 0
898 1
899 1
900 2
901 2
902 2
903 0
904 0
905 2
906 2
907 2
908 1
909 4
910 2
911 1
912 3
913 0
914 1
915 0
916 2
917 2
918 1
919 0
920 3
921 3
922 3
923 1
924 0
925 2
926 0
927 1
928 4
929 1
930 5
931 4
932 1
933 2
934 2
935 2
936 3
937 3
938 1
939 1
940 2
941 3
942 3
943 3
944 1
945 1
946 2
947 2
948 3
949 2
950 3
951 5
952 0
953 4
954 0
955 2
956 2
957 1
958 4
959 2
960 2
961 1
962 3
963 2
964 0
965 0
966 0
967 2
968 1
969 1
970 1
971 2
972 0
973 1
974 1
975 2
976 1
977 1
978 1
979 2
980 1
981 2
982 0
983 2
984 3
985 3
986 2
987 2
988 4
989 3
990 0
991 3
992 1
993 2
994 1
995 3
996 2
997 1
998 3
999 0

In [91]:
#0 indexを0から振り直す
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
# df_new=pd.DataFrame(df_new)
# df=pd.Series[df['Lottery_result']]
# df.count()
# df=(df['Lottery_result'] == 1)
# df=sum(df.year == 2018)
# d=sum(df.hundreds_place == 2)
# df
#変数化
n_df=range(0,1000,1)
# Num_list=pd.DataFrame(columns=df,dtype='int')
Num_list=n_df
enc=OneHotEncoder(categories=[Num_list],sparse=False)
Num_d=enc.fit_transform(df[['Lottery_result']])
df_N=pd.DataFrame(Num_d,index=df.index,columns=Num_list,dtype='int')
df_N

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1511,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1512,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1513,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1514,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1515,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
#列の合計
df_N=df_N.sum()
df_N

0      2
1      1
2      3
3      1
4      0
      ..
995    3
996    2
997    1
998    3
999    0
Length: 1000, dtype: int64