In [2]:
import pandas as pd

In [3]:
data = {
  '松田の労働時間' : [160, 160], # 松田の労働時間列の作成
  '浅木の労働時間' : [161, 175] # 浅木の労働時間列の作成
}

df = pd.DataFrame(data)
df # dfの表示

   松田の労働時間  浅木の労働時間
0      160      161
1      160      175

In [4]:
#セルの途中の場合、print関数を
#利用しないと表示できない
print(type(df))

df.shape

<class 'pandas.core.frame.DataFrame'>

(2, 2)

In [5]:
df.index = ['4月', '5月'] # dfのインデックスを変更
df # 表示

    松田の労働時間  浅木の労働時間
4月      160      161
5月      160      175

In [6]:
df.columns = ['松田の労働(h)', '浅木の労働(h)'] # 列名の変更
df # 表示

    松田の労働(h)  浅木の労働(h)
4月       160       161
5月       160       175

In [7]:
print(df.index) # インデックスの参照
print(df.columns) # カラムの参照

Index(['4月', '5月'], dtype='object')
Index(['松田の労働(h)', '浅木の労働(h)'], dtype='object')

In [8]:
data = [
 [160, 161],
 [160, 175]
    ]

df2 = pd.DataFrame(data, index = ['4月', '5月'], columns =
    ['松田の労働', '浅木の労働'])

In [9]:
# pandasは別名pdでインポート済み
# KvsT.csvファイルを読み込んで、データフレームに変換
df = pd.read_csv('KvsT.csv')
# 先頭3行だけ表示
df.head(3)

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ

In [10]:
#身長列だけを参照
df['身長']

0     170
1     172
2     170
3     170
4     177
5     168
6     169
7     170
8     180
9     170
10    165
11    170
12    175
13    170
14    170
15    155
16    160
17    170
18    175
Name: 身長, dtype: int64

In [11]:
# 抜き出したい列名の文字列リストを作成
col = ['身長', '体重']
# 身長列と体重列のみを抜き出す
df[col]

     身長  体重
0   170  60
1   172  65
2   170  60
3   170  65
4   177  65
5   168  55
6   169  65
7   170  62
8   180  70
9   170  68
10  165  65
11  170  72
12  175  77
13  170  65
14  170  65
15  155  56
16  160  56
17  170  65
18  175  60

In [17]:
type(df['派閥'])

pandas.core.series.Series

In [18]:
# 特徴量の列を参照して xに代入
xcol = ['身長', '体重', '年代']
x = df[xcol]
x

     身長  体重  年代
0   170  60  10
1   172  65  20
2   170  60  30
3   170  65  40
4   177  65  10
5   168  55  20
6   169  65  30
7   170  62  40
8   180  70  10
9   170  68  20
10  165  65  40
11  170  72  20
12  175  77  40
13  170  65  30
14  170  65  30
15  155  56  20
16  160  56  20
17  170  65  40
18  175  60  20

In [19]:
# 正解データ（派閥）を参照して、tに代入
t = df['派閥']
t

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [20]:
from sklearn import tree

In [21]:
# モデルの準備（未学習）
model = tree.DecisionTreeClassifier(random_state = 0)
# 学習の実行（x、tは事前に定義済みの特徴量と正解ラベル）
model.fit(x,t)

DecisionTreeClassifier(random_state=0)

In [22]:
# 身長170cm、体重70kg、年齢20代のデータ（新しいデータ）を
# 2次元リストで作成
taro = [[170, 70, 20]]

 # taroがどちらに分類されるか予測
model.predict(taro)

array(['きのこ'], dtype=object)

In [23]:
matsuda=[172,65,20]
asagi=[158,48,20]

new_data=[matsuda,asagi]
model.predict(new_data)

array(['きのこ', 'たけのこ'], dtype=object)

In [24]:
#正解率の計算
model.score(x, t)

1.0

In [25]:
import pickle

with open('KinokoTakenoko.pkl', 'wb') as f:
    pickle.dump(model, f)

In [26]:
import pickle

with open('KinokoTakenoko.pkl', 'rb') as f:
    model2 = pickle.load(f)

In [27]:
suzuki = [[180,75,30]]
model2.predict(suzuki)

array(['たけのこ'], dtype=object)

# 演習問題

In [28]:
data = {
    'データベースの試験得点':[70,72,75,80],
    'ネットワークの試験得点':[80,85,79,92]
}
df = pd.DataFrame(data)

In [29]:
df.index = ['一郎','次郎','三郎','太郎']
df#dfの参照

    データベースの試験得点  ネットワークの試験得点
一郎           70           80
次郎           72           85
三郎           75           79
太郎           80           92

In [30]:
df2 = pd.read_csv('ex1.csv')

In [31]:
df2.index # インデックスの一覧表示

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64')

In [32]:
df2.columns#列名の一覧表示

Index(['x0', 'x1', 'x2', 'x3', 'target'], dtype='object')

In [31]:
col = ['x0','x2']
df2[col]

          x0        x2
0   4.831144  5.082239
1   1.460716  7.632439
2   4.011018  5.935904
3   5.982382  3.890340
4   5.439188  4.827872
..       ...       ...
95  4.343917  5.925124
96  5.612101  4.338867
97  3.375022  6.534891
98  4.069721  5.884516
99  4.079704  5.657731

[100 rows x 2 columns]