In [1]:
import pandas as pd

pd.DataFrame({"A":[1, 2], "B": [3, 4]})

   A  B
0  1  3
1  2  4

In [4]:
import pandas as pd

data = {
    '松田の労働時間' : [111, 222],
    '浅木の労働時間' : [333, 444]
}
df = pd.DataFrame(data)
df

   松田の労働時間  浅木の労働時間
0      111      333
1      222      444

In [5]:
print(type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(2, 2)

In [8]:
df.index = ['4月','5月']
df

    松田の労働時間  浅木の労働時間
4月      111      333
5月      222      444

In [9]:
df.columns = ['松田の労働(h)', '浅木の労働(h)']
df

    松田の労働(h)  浅木の労働(h)
4月       111       333
5月       222       444

In [10]:
print(df.index)
print(df.columns)

Index(['4月', '5月'], dtype='object')
Index(['松田の労働(h)', '浅木の労働(h)'], dtype='object')

In [13]:
data = {
    [111, 222],
    [333, 444]
}
df2 = pd.DataFrame(data, index= ['4月', '5月'], columns = ['松田の労働', '浅木の労働'])

TypeError: unhashable type: 'list'

In [17]:
df = pd.read_csv('KvsT.csv')
df.head(3)

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ

In [1]:
df['身長']

NameError: name 'df' is not defined

In [2]:
import pandas as pd

df = pd.read_csv('KvsT.csv')
df.head(3)

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ

In [3]:
df['身長']

0     170
1     172
2     170
3     170
4     177
5     168
6     169
7     170
8     180
9     170
10    165
11    170
12    175
13    170
14    170
15    155
16    160
17    170
18    175
Name: 身長, dtype: int64

In [4]:
col = ['身長', '体重']
df[col]

     身長  体重
0   170  60
1   172  65
2   170  60
3   170  65
4   177  65
5   168  55
6   169  65
7   170  62
8   180  70
9   170  68
10  165  65
11  170  72
12  175  77
13  170  65
14  170  65
15  155  56
16  160  56
17  170  65
18  175  60

In [5]:
type(df['派閥'])

pandas.core.series.Series

In [6]:
df['派閥']

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [7]:
xcol = ['身長','体重','年代']
x = df[xcol]
x

     身長  体重  年代
0   170  60  10
1   172  65  20
2   170  60  30
3   170  65  40
4   177  65  10
5   168  55  20
6   169  65  30
7   170  62  40
8   180  70  10
9   170  68  20
10  165  65  40
11  170  72  20
12  175  77  40
13  170  65  30
14  170  65  30
15  155  56  20
16  160  56  20
17  170  65  40
18  175  60  20

In [8]:
t = df['派閥']
t

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [9]:
from sklearn import tree

In [10]:
model = tree.DecisionTreeClassifier(random_state = 0)
model.fit(x, t)

DecisionTreeClassifier(random_state=0)

In [11]:
taro = [[170, 70, 20]]
model.predict(taro)

c:\Users\yoshikoshi\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ'], dtype=object)

In [12]:
matsuda = [172, 65, 20]
asagi = [158, 48, 20]
new_data = [matsuda, asagi]
model.predict(new_data)

c:\Users\yoshikoshi\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ', 'たけのこ'], dtype=object)

In [13]:
model.score(x, t)

1.0

In [14]:
import pickle
with open('KinokoTakenoko.pkl', 'wb') as f:
    pickle.dump(model, f)

In [15]:
import pickle
with open('KinokoTakenoko.pkl', 'rb') as f:
    model2 = pickle.load(f)

In [16]:
suzuki = [[180, 75, 30]]
model2.predict(suzuki)

c:\Users\yoshikoshi\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['たけのこ'], dtype=object)

In [17]:
import pandas as pd
df = pd.read_csv('KvsT.csv')
xcol = ['身長', '体重', '年代']
x = df[xcol]
t = df['派閥']

from sklearn import tree
model = tree.DecisionTreeClassifier(random_state = 0)
model.fit(x, t)
model.score(x, t)

1.0

In [4]:
import pandas as pd

data = {
    'データベースの試験得点' : [70, 72, 75, 80],
    'ネットワークの試験得点' : [80, 85, 79, 92]
}
df = pd.DataFrame(data)
df

   データベースの試験得点  ネットワークの試験得点
0           70           80
1           72           85
2           75           79
3           80           92

In [5]:
df.index = ['一郎', '次郎', '三郎', '太郎']
df

    データベースの試験得点  ネットワークの試験得点
一郎           70           80
次郎           72           85
三郎           75           79
太郎           80           92

In [8]:
df2 = pd.read_csv('ex1.csv')

In [9]:
df2.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64')

In [10]:
df2.columns

Index(['x0', 'x1', 'x2', 'x3', 'target'], dtype='object')

In [11]:
col = ['x0', 'x2']
df2[col]

          x0        x2
0   4.831144  5.082239
1   1.460716  7.632439
2   4.011018  5.935904
3   5.982382  3.890340
4   5.439188  4.827872
..       ...       ...
95  4.343917  5.925124
96  5.612101  4.338867
97  3.375022  6.534891
98  4.069721  5.884516
99  4.079704  5.657731

[100 rows x 2 columns]

In [1]:
import pandas as pd
df = pd.read_csv('iris.csv')
df.head(3)

   がく片長さ  がく片幅  花弁長さ   花弁幅           種類
0   0.22  0.63  0.08  0.04  Iris-setosa
1   0.17  0.42  0.35  0.04  Iris-setosa
2   0.11  0.50  0.13  0.04  Iris-setosa

In [2]:
df['種類'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [3]:
syurui = df['種類'].unique()
syurui[0]

'Iris-setosa'

In [4]:
df['種類'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: 種類, dtype: int64

In [5]:
df.tail(3)

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
147   0.61  0.42   NaN  0.79  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

In [6]:
df.isnull()

     がく片長さ   がく片幅   花弁長さ    花弁幅     種類
0    False  False  False  False  False
1    False  False  False  False  False
2    False  False  False  False  False
3    False  False  False  False  False
4    False  False  False  False  False
..     ...    ...    ...    ...    ...
145  False  False  False  False  False
146  False  False  False  False  False
147  False  False   True  False  False
148  False  False  False  False  False
149  False  False  False  False  False

[150 rows x 5 columns]

In [7]:
df.isnull().any(axis = 0)

がく片長さ     True
がく片幅      True
花弁長さ      True
花弁幅       True
種類       False
dtype: bool

In [8]:
df.sum()

がく片長さ                                                62.29
がく片幅                                                 65.62
花弁長さ                                                 72.04
花弁幅                                                  66.22
種類       Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

In [9]:
tmp = df.isnull()
tmp.sum()

がく片長さ    2
がく片幅     1
花弁長さ     2
花弁幅      2
種類       0
dtype: int64

In [10]:
df2 = df.dropna(how = 'any', axis = 0)
df2.tail(3)

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
146   0.56  0.21  0.69  0.46  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

In [11]:
df.isnull().any(axis = 0)

がく片長さ     True
がく片幅      True
花弁長さ      True
花弁幅       True
種類       False
dtype: bool

In [12]:
df['花弁長さ'] = df['花弁長さ'].fillna(0)
df.tail(3)

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
147   0.61  0.42  0.00  0.79  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

In [13]:
df.mean()

C:\Users\yoshikoshi\AppData\Local\Temp\ipykernel_11076\972437606.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

がく片長さ    0.420878
がく片幅     0.440403
花弁長さ     0.480267
花弁幅      0.447432
dtype: float64

In [14]:
df['がく片長さ'].mean()

0.42087837837837844

In [15]:
df.std()

C:\Users\yoshikoshi\AppData\Local\Temp\ipykernel_11076\3971434360.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

がく片長さ    0.228910
がく片幅     0.181137
花弁長さ     0.236909
花弁幅      0.309960
dtype: float64

In [16]:
df = pd.read_csv('iris.csv')
colmean = df.mean()
df2 = df.fillna(colmean)
df2.isnull().any(axis = 0)

C:\Users\yoshikoshi\AppData\Local\Temp\ipykernel_11076\3210792772.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  colmean = df.mean()

がく片長さ    False
がく片幅     False
花弁長さ     False
花弁幅      False
種類       False
dtype: bool

In [17]:
xcol = ['がく片長さ', 'がく片幅', '花弁長さ', '花弁幅']
x = df2[xcol]
t = df2['種類']